{% extends 'layout.html' %}
{% block content %}

<div class="wrapper">
  <div class="checkout container">

    <header>
      <h1>Hey there<br>Let's test a transaction out</h1>

    </header>

    <form id="payment-form" method="post" action="/proc">
      <section>
        <label for="amount">
          <span class="input-label">Amount</span>

            <input class="form-control" id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">

        </label>

        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>
      </section>

      <input type="hidden" id="nonce" name="payment_method_nonce" />
      <button class="btn btn-primary" type="submit" id="submit-button"><span>Submit transaction</span></button>
    </form>

  </div>
</div>


  <script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
  <script>
    var form = document.querySelector('#payment-form');
    var client_token = '{{token}}';

    braintree.dropin.create({
      authorization: "{{token}}",
      container: '#bt-dropin'
    }, function (createErr, instance) {
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        instance.requestPaymentMethod(function (err, payload) {
          document.querySelector('#nonce').value = payload.nonce;
          form.submit();
        });
      });
    });
  </script>
</body>

{% endblock %}